<div class="container">
    <div class="row">
        <div class="col" style="width: 50%;">
            <div class="card mt-4">
                <h4 class="card-header">Users Reports</h4>
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="col" style="width: 50%;">
            <div class="card mt-4">
                <h4 class="card-header">Device Reports</h4>
                <canvas id="canvas-1"></canvas>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col" style="width: 50%;">
            <div class="card mt-4">
                <h4 class="card-header">Sales Reports</h4>
                <canvas id="canvas-2"></canvas>
            </div>
        </div>
        <div class="col" style="width: 50%;">
            <div class="card mt-4">
                <h4 class="card-header">Overall Reports</h4>
                <canvas id="canvas-3"></canvas>
            </div>
        </div>
    </div>
</div>